name: Quarto Publish

# you need these permissions to publish to GitHub pages
permissions: 
    contents: write
    pages: write

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        # To install LaTeX to build PDF book 
        #with:
          # tinytex: true 
     
      # add software dependencies here and any libraries
      
      # From https://github.com/actions/setup-python
      # - name: Setup Python
      #   uses: actions/setup-python@v3

      # From https://github.com/r-lib/actions/tree/v2-branch/setup-r
      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Publish to GitHub Pages (and render) 
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }} # this secret is always available for github actions
     